<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controladorRutas</servlet-name>
        <servlet-class>BLL.controladorRutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorAjax</servlet-name>
        <servlet-class>BLL.controladorAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorMostrarRutas</servlet-name>
        <servlet-class>BLL.controladorMostrarRutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorViaje</servlet-name>
        <servlet-class>BLL.controladorViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorDatosViaje</servlet-name>
        <servlet-class>BLL.controladorDatosViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorRegistro</servlet-name>
        <servlet-class>BLL.controladorRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorLogin</servlet-name>
        <servlet-class>BLL.controladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorTarjeta</servlet-name>
        <servlet-class>BLL.controladorTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorLogout</servlet-name>
        <servlet-class>BLL.controladorLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorPago</servlet-name>
        <servlet-class>BLL.controladorPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorViajar</servlet-name>
        <servlet-class>BLL.controladorViajar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorHacerViaje</servlet-name>
        <servlet-class>BLL.controladorHacerViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorViajePorFecha</servlet-name>
        <servlet-class>BLL.controladorViajePorFecha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorRutas</servlet-name>
        <url-pattern>/controladorRutas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorAjax</servlet-name>
        <url-pattern>/controladorAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorMostrarRutas</servlet-name>
        <url-pattern>/controladorMostrarRutas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorViaje</servlet-name>
        <url-pattern>/controladorViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorDatosViaje</servlet-name>
        <url-pattern>/controladorDatosViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorRegistro</servlet-name>
        <url-pattern>/controladorRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorLogin</servlet-name>
        <url-pattern>/controladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorTarjeta</servlet-name>
        <url-pattern>/controladorTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorLogout</servlet-name>
        <url-pattern>/controladorLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorPago</servlet-name>
        <url-pattern>/controladorPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorViajar</servlet-name>
        <url-pattern>/controladorViajar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorHacerViaje</servlet-name>
        <url-pattern>/controladorHacerViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorViajePorFecha</servlet-name>
        <url-pattern>/controladorViajePorFecha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
